body {
	background: #abcdef;
}

button {
	height: 3em;
	width: 100%;
	margin: 0.5em 0;
}

input {
	width: 100%;
}

.container-fluid {
	background: blue;
}
.row {
	background: #AAA;
	margin: none;

}
.col-xs-3, .col-xs-8, .col-xs-4 {
	padding: 0 0.25em;
}

#calc {
	margin: 5em auto;
	padding: 3em;
	background: gray;
}

#equals {
	height: 7em;
}
