button {
	height: 3em;
	width: 100%;
	margin: 0.5em 0;
}

input {
	width: 100%;
}

p {
	margin: 0;
}

.container-fluid {
	text-align: center;
}
.row {
	margin: none;

}
.col-xs-3, .col-xs-8, .col-xs-4 {
	padding: 0 0.25em;
}

.col-xs-12 {
	padding: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#calc {
	margin: 5em auto;
	padding: 3em;
	background: gray;
	min-width: 300px;
	display: inline-block;
}

#equals {
	height: 7em;
}

#output {
	text-align: right;
	font-size: 2em;
}

#operations {
	text-align: right;
}

#screen {
	background: white;
	min-height: 6em;
	border-radius: 1em;
	padding: 0.5em;
}