body {
	font-family: 'Roboto', sans-serif;
	background: #83CBE1;
	color: #292D39;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	color: #F6F9F8;
	text-align: center;
	margin-bottom: .5em;
	margin-top: 0;
}

button {
	height: 3em;
	width: 100%;
	margin: 0.5em 0;

	background: #9AA699;
	color: #EEF2F4;
	border: none;
	border-radius: 1em;
}

#ac, #ce {
	background: #DF614F;
}

input {
	width: 100%;
}

p {
	margin: 0;
}


footer {
	color: #F6F9F8;
	margin-top: 1em;
	margin-bottom: -2em;
	font-family: 'Orbitron', sans-serif;
}

a {
	color: #DF614F;

}

a:hover, a:active {
	color: #C83B28;
	text-decoration: none;
}

 a:visited {
 	color: #DF614F;
 }

.row {
	margin: none;

}
.col-xs-3, .col-xs-8, .col-xs-4 {
	padding: 0 0.25em;
}

.col-xs-12 {
	padding: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#calc {
	margin: auto;
	padding: 3em;
	background: #292D39;
	width: 300px;
	border-radius: 1em;
}

#equals {
	height: 7em;
}

#output {
	text-align: right;
	font-size: 2em;
}

#operations {
	text-align: right;
}

#screen {
	background: #F6F9F8;
	min-height: 6em;
	padding: 0.5em;
	margin-bottom: 2em;
	border-radius: 1em;
}